<Jumbo>
  <h2>About Dodgy Leaders</h2>
  <p>
    The world is afflicted by numerous leaders of questionable motives, abilities and unfathomably deep pockets.
  </p>
  <p>This little app, made in Ember JS, is to help you find the most questionable.</p>
  <LinkTo @route="contact" class="button">Contact us</LinkTo>
</Jumbo>